*{
    padding: 0;
    margin: 0;
}
body{
    background-image: url(../images/backgroundLp.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    color: #fff;
}
.container1{
    background-color: $background-color;
    width: 450px;
    height: auto;
    padding: 15px;
}
.topLogo{
    width: 250px;
    padding: 20px;
}
.paragraph{
    margin: 8px 0px;
}
.btnSend{
    color: $button-color;
    border: 1px solid $button-color;

    &:hover{
        background-color: $button-color;
        color: #fff;
    }
}
.footter{
    margin-top: 30px;
    margin-bottom: -30px;
}
@media (max-width: 485px) {
    .formBody {
      width: auto;
    }
  }